

    <div class="container">
        <div class="homeAnonymous">
            <div class="contentDivs">
                <div class="topPic">
                 <div class="lang-text">
                     <span class="text-simple">Watch in</span>
                     <span class="text-lang">తెలుగు</span>
                 </div>
                 <div class="mainImg">
                     <img src="../../../../assets/imgsss/b1.png" alt="">
                 </div>
                </div>
                <div class="allContent">
                    <div class="allMovies">
                        <p>All Telugu Movies</p>
                        <div id="paginated_gallery2" class="gallery">
                            <div class="gallery_scroller">
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a2.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a8.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a6.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a4.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a8.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a11.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a10.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a9.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a8.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a7.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a6.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a5.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a4.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a3.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a2.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a1.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a9.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a10.png">
                                </div>
                            </div>
                            <span class="btn backward_show_list">
                                <div style="right:50%;top:43% ;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/backward_show_list.svg">
                                </div>
                            </span>
                            <span class="btn forward_show_list">
                                <div style="left:50%;top:43%;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/forward_show_list.svg">
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="dubbedLang">
                        <p>Dubbed Movies In Telugu</p>
                        <div id="paginated_gallery3" class="gallery">
                            <div class="gallery_scroller">
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a2.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a8.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a6.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a4.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a8.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a11.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a10.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a9.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a8.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a7.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a6.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a5.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a4.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a3.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a2.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a1.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a9.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a10.png">
                                </div>
                            </div>
                            <span class="btn backward_show_list">
                                <div style="right:50%;top:43% ;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/backward_show_list.svg">
                                </div>
                            </span>
                            <span class="btn forward_show_list">
                                <div style="left:50%;top:43%;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/forward_show_list.svg">
                                </div>
                            </span>
                        </div>

                    </div>
                    <div class="recentlyAdded">
                        <p>Recently Added</p>
                        <div id="paginated_gallery5" class="gallery">
                            <div class="gallery_scroller">
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a2.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a8.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a6.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a4.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a8.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a11.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a10.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a9.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a8.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a7.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a6.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a5.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a4.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a3.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a2.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a1.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a9.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a10.png">
                                </div>
                            </div>
                            <span class="btn backward_show_list">
                                <div style="right:50%;top:43% ;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/backward_show_list.svg">
                                </div>
                            </span>
                            <span class="btn forward_show_list">
                                <div style="left:50%;top:43%;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/forward_show_list.svg">
                                </div>
                            </span>
                        </div>

                    </div>
                    <div class="mostViewed">
                        <p>Most Viewed</p>
                        <div id="paginated_gallery6" class="gallery">
                            <div class="gallery_scroller">
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a2.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a8.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a6.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a4.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a8.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a11.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a10.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a9.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a8.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a7.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a6.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a5.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a4.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a3.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a2.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a1.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a9.png">
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a10.png">
                                </div>
                            </div>
                            <span class="btn backward_show_list">
                                <div style="right:50%;top:43% ;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/backward_show_list.svg">
                                </div>
                            </span>
                            <span class="btn forward_show_list">
                                <div style="left:50%;top:43%;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/forward_show_list.svg">
                                </div>
                            </span>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <script>
        const numOfGalleries = 14;
        for (let i = 1; i <= numOfGalleries; i++) {
            if (document.querySelector('#paginated_gallery' + i)) {
                gallery = document.querySelector('#paginated_gallery' + i)
                event(gallery);
            }

        }


        function event(gallery) {
            const gallery_scroller = gallery.querySelector('.gallery_scroller');
            const gallery_item_size = gallery_scroller.querySelector('div').clientWidth;

            gallery.querySelector('.forward_show_list').addEventListener('click', scrollToNextPage);
            gallery.querySelector('.forward_show_list').addEventListener('click', scrollToNextPage);
            gallery.querySelector('.backward_show_list').addEventListener('click', scrollToPrevPage);

            // For paginated scrolling, simply scroll the gallery one item in the given
            // direction and let css scroll snaping handle the specific alignment.
            function scrollToNextPage() {
                gallery_scroller.scrollBy(gallery_item_size, 0);
            }
            function scrollToPrevPage() {
                gallery_scroller.scrollBy(-gallery_item_size, 0);
            }
        }  
    </script>
