<div class="hightdiv" style="height: 72px; background-color: transparent;"></div>
<div class="container">
<div class="feedback">
    <div class="contentDivs">
        <div class="termText">
            <span>Send us Feedback</span>
            <p class="pOne"> Tell us more about your issue</p>
            <div class="selectDiv">
                <select name="issue" id="issue">
                    <option value="">Select an issue</option>
                    <option value="1">Ajay</option>
                    <option value="2">Sandeep</option>
                    <option value="3">Parshant</option>
                    <option value="4">dota</option>
                    <option value="5">jaggu</option>
                </select>
                <img src="../../../../assets/imgsss/Play.svg" alt="">
            </div>
            <p class="pTwo">How would you like to contact us ?</p>
            <div class="messageDiv">
                <img src="../../../../assets/imgsss/mail 1.svg" alt="">
                <p class="pThree"> We have a customer support team that will address your grievances through
                    email, chat and voice
                    call. For queries to be addressed through email, users can reach out to <br>
                    <a href="support@VideoVillage.video">support@VideoVillage.video</a> </p>
            </div>
        </div>
    </div>
    <div class="image">
        <img src="../../../../assets/imgsss/Group 125.svg" alt="">
    </div>
</div>
</div>