

    <div class="container">
        <div class="homeAnonymous">
            <div class="contentDivs">
                <div class="topCarousel">
                    <div class="slides">
                        <input type="radio" name="r" id="r1" checked>
                        <input type="radio" name="r" id="r2">
                        <input type="radio" name="r" id="r3">
                        <input type="radio" name="r" id="r4">
                        <input type="radio" name="r" id="r5">
                        <input type="radio" name="r" id="r6">
                        <input type="radio" name="r" id="r7">
                        <!-- <input type="radio" name="r" id="r8">
                        <input type="radio" name="r" id="r9">
                        <input type="radio" name="r" id="r10">
                         -->

                         <div class="slide s1" id="one">
                            <img src="../../../../assets/imgsss/img 007.jpg" alt="">
                        </div>
                        <div class="slide">
                            <img src="../../../../assets/imgsss/0010.jpg" id="two" alt="">
                        </div>
                        <div class="slide">
                            <img src="../../../../assets/imgsss/0010.jpg" id="three" alt="">
                        </div>
                        <div class="slide">
                            <img src="../../../../assets/imgsss/008.jpg" id="four" alt="">
                        </div>
                        <div class="slide">
                            <img src="../../../../assets/imgsss/img 007.jpg" id="five" alt="">
                        </div>
                        <div class="slide">
                            <img src="../../../../assets/imgsss/008.jpg" id="six" alt="">
                        </div>
                        <div class="slide">
                            <img src="../../../../assets/imgsss/img 007.jpg" id="seven" alt="">
                        </div>



                    </div>
                    <div class="navugation">
                        <label for="r1" class="selector"></label>
                        <label for="r2" class="selector"></label>
                        <label for="r3" class="selector"></label>
                        <label for="r4" class="selector"></label>
                        <label for="r5" class="selector"></label>
                        <label for="r6" class="selector"></label>
                        <label for="r7" class="selector"></label>

                    </div>
                </div>
                <div class="allContent">
                    <div class="selectLang">
                        <p>Select Your language</p>
                        <div #home_paginated_gallery class="gallery-lang">
                            <div class="gallery_scroller">
                              <div class="colored_card-lang" id="col1" (click)="langSelect(6)">
                                <img class="lang-img" src="../../../../assets/imgsss/language-img/li1.png" alt="">
                                <h2>E</h2>
                                <span>ENGLISH</span>
                            </div>
                            <div class="colored_card-lang" id="col2" (click)="langSelect(5)">
                                <img class="lang-img" src="../../../../assets/imgsss/language-img/li2.png" alt="">
                                <h2>ह</h2>
                                <span>HINDI</span>
                            </div>
                            <div class="colored_card-lang" id="col3" (click)="langSelect(2)">
                                <img class="lang-img" src="../../../../assets/imgsss/language-img/li3.png" alt="">
                                <h2>తె</h2>
                                <span>TELUGU</span>
                            </div>
                            <div class="colored_card-lang" id="col4" (click)="langSelect(1)">
                                <img class="lang-img" src="../../../../assets/imgsss/language-img/li4.png" alt="">
                                <h2>ಕ</h2>
                                <span>KANNADA</span>
                            </div>
                            <div class="colored_card-lang" id="col5" (click)="langSelect(3)">
                                <img class="lang-img" src="../../../../assets/imgsss/language-img/li5.png" alt="">
                                <h2>മ</h2>
                                <span>MALAYALAM</span>
                            </div>
                            <div class="colored_card-lang" id="col6" (click)="langSelect(4)">
                                <img class="lang-img" src="../../../../assets/imgsss/language-img/li6.png" alt="">
                                <h2>த</h2>
                                <span>TAMIL</span>
                            </div>
                            <div class="colored_card-lang" id="col7" (click)="langSelect(7)">
                                <img class="lang-img" src="../../../../assets/imgsss/language-img/li1.png" alt="">
                                <h2>K</h2>
                                <span>KOREAN</span>
                            </div>
                            <div class="colored_card-lang" id="col8" (click)="langSelect(8)">
                                <img class="lang-img" src="../../../../assets/imgsss/language-img/li2.png" alt="">
                                <h2>R</h2>
                                <span>RUSSIAN</span>
                            </div>
                            </div>
                            <span class="btn backward_show_list">
                                <div style="right:50%;top:43% ;position: absolute; background: transparent;">
                                    <Img src="assets/imgsss/backward_show_list.svg">
                                </div>
                            </span>
                            <span class="btn forward_show_list">
                                <div style="left:50%;top:43%;position: absolute; background: transparent;">
                                    <Img src="assets/imgsss/forward_show_list.svg">
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="continue">
                        <p>Continue Watching</p>
                        <div #home_paginated_gallery class="gallery">
                          <div class="gallery_scroller">
                            <div *ngIf="continueWatchingLength <= 0" style="display: inherit;">
                              <div class="colored_card" *ngFor='let in of counter(10) ;let i = index'>
                                <ngx-skeleton-loader count="1" appearance="pulse" [theme]="{
                                  'border-radius': '5px',
                                  height: '100%',
                                  'background-color': '#323232',
                                  border: '1px solid #323232',
                                  'animation-duration': '2s'
                                }" > </ngx-skeleton-loader>
                              </div>
                            </div>
                            <div *ngIf="continueWatchingLength > 0">
                              <div class="colored_card" *ngFor="let posters of continueWatching">
                                  <Img src="{{posters.PosterUrl}}" (click)="getPageById(posters.Id)">
                                    <div class="crown">
                                        <img src="../../../../assets/imgsss/crown.svg" alt="">
                                      </div>
                              </div>
                            </div>
                          </div>
                            <span class="btn backward_show_list">
                                <div style="right:50%;top:43% ;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/backward_show_list.svg">
                                </div>
                            </span>
                            <span class="btn forward_show_list">
                                <div style="left:50%;top:43%;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/forward_show_list.svg">
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="latest">
                        <p>Latest Series</p>
                        <div #home_paginated_gallery class="gallery">
                          <div class="gallery_scroller">
                            <div *ngIf="latestLength <= 0" style="display: inherit;">
                              <div class="colored_card" *ngFor='let in of counter(10) ;let i = index'>
                                <ngx-skeleton-loader count="1" appearance="pulse" [theme]="{
                                  'border-radius': '5px',
                                  height: '100%',
                                  'background-color': '#323232',
                                  border: '1px solid #323232',
                                  'animation-duration': '2s'
                                }" > </ngx-skeleton-loader>
                              </div>
                            </div>
                            <div *ngIf="latestLength > 0">
                              <div class="colored_card" *ngFor="let posters of latest">
                                  <Img src="{{posters.PosterUrl}}" (click)="getPageById(posters.Id)">
                                    <div class="crown">
                                        <img src="../../../../assets/imgsss/crown.svg" alt="">
                                      </div>
                              </div>
                            </div>
                          </div>
                            <span class="btn backward_show_list">
                                <div style="right:50%;top:43% ;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/backward_show_list.svg">
                                </div>
                            </span>
                            <span class="btn forward_show_list">
                                <div style="left:50%;top:43%;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/forward_show_list.svg">
                                </div>
                            </span>
                        </div>

                    </div>
                    <div class="watchlist">
                        <p>Watchlist</p>
                        <div #home_paginated_gallery class="gallery-soon">
                          <div class="gallery_scroller">
                            <div *ngIf="watchlistLength <= 0" style="display: inherit;">
                              <div class="colored_card" *ngFor='let in of counter(10) ;let i = index'>
                                <ngx-skeleton-loader count="1" appearance="pulse" [theme]="{
                                  'border-radius': '5px',
                                  height: '100%',
                                  'background-color': '#323232',
                                  border: '1px solid #323232',
                                  'animation-duration': '2s'
                                }" > </ngx-skeleton-loader>
                              </div>
                            </div>
                            <div *ngIf="watchlistLength > 0">
                              <div class="colored_card" *ngFor="let posters of watchlist">
                                  <Img src="{{posters.PosterUrl}}" (click)="getPageById(posters.Id)">
                                    <div class="crown">
                                        <img src="../../../../assets/imgsss/crown.svg" alt="">
                                      </div>
                              </div>
                            </div>
                          </div>
                            <span class="btn backward_show_list">
                                <div style="right:50%;top:43% ;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/backward_show_list.svg">
                                </div>
                            </span>
                            <span class="btn forward_show_list">
                                <div style="left:50%;top:43%;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/forward_show_list.svg">
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="series">
                        <p>Top Series</p>
                        <div #home_paginated_gallery class="gallery">
                          <div class="gallery_scroller">
                            <div *ngIf="topseriesLength <= 0" style="display: inherit;">
                              <div class="colored_card" *ngFor='let in of counter(10) ;let i = index'>
                                <ngx-skeleton-loader count="1" appearance="pulse" [theme]="{
                                  'border-radius': '5px',
                                  height: '100%',
                                  'background-color': '#323232',
                                  border: '1px solid #323232',
                                  'animation-duration': '2s'
                                }" > </ngx-skeleton-loader>
                              </div>
                            </div>
                            <div *ngIf="topseriesLength > 0">
                              <div class="colored_card" *ngFor="let posters of topseries">
                                  <Img src="{{posters.PosterUrl}}" (click)="getPageById(posters.Id)">
                                    <div class="crown">
                                        <img src="../../../../assets/imgsss/crown.svg" alt="">
                                      </div>
                              </div>
                            </div>
                          </div>
                            <span class="btn backward_show_list">
                                <div style="right:50%;top:43% ;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/backward_show_list.svg">
                                </div>
                            </span>
                            <span class="btn forward_show_list">
                                <div style="left:50%;top:43%;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/forward_show_list.svg">
                                </div>
                            </span>
                        </div>

                    </div>
                    <div class="trendingNow">
                        <p>Trending Now</p>
                        <div #home_paginated_gallery class="gallery">
                          <div class="gallery_scroller">
                            <div *ngIf="trendingNowLength <= 0" style="display: inherit;">
                              <div class="colored_card" *ngFor='let in of counter(10) ;let i = index'>
                                <ngx-skeleton-loader count="1" appearance="pulse" [theme]="{
                                  'border-radius': '5px',
                                  height: '100%',
                                  'background-color': '#323232',
                                  border: '1px solid #323232',
                                  'animation-duration': '2s'
                                }" > </ngx-skeleton-loader>
                              </div>
                            </div>
                            <div *ngIf="trendingNowLength > 0">
                              <div class="colored_card" *ngFor="let posters of trendingNow">
                                  <Img src="{{posters.PosterUrl}}" (click)="getPageById(posters.Id)">
                                    <div class="crown">
                                        <img src="../../../../assets/imgsss/crown.svg" alt="">
                                      </div>
                              </div>
                            </div>
                          </div>
                            <span class="btn backward_show_list">
                                <div style="right:50%;top:43% ;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/backward_show_list.svg">
                                </div>
                            </span>
                            <span class="btn forward_show_list">
                                <div style="left:50%;top:43%;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/forward_show_list.svg">
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="kids">
                        <p>Kids and family Series</p>
                        <div #home_paginated_gallery class="gallery">
                          <div class="gallery_scroller">
                            <div *ngIf="kidFamilyLength <= 0" style="display: inherit;">
                              <div class="colored_card" *ngFor='let in of counter(10) ;let i = index'>
                                <ngx-skeleton-loader count="1" appearance="pulse" [theme]="{
                                  'border-radius': '5px',
                                  height: '100%',
                                  'background-color': '#323232',
                                  border: '1px solid #323232',
                                  'animation-duration': '2s'
                                }" > </ngx-skeleton-loader>
                              </div>
                            </div>
                            <div *ngIf="kidFamilyLength > 0">
                              <div class="colored_card" *ngFor="let posters of kidFamily">
                                  <Img src="{{posters.PosterUrl}}" (click)="getPageById(posters.Id)">
                                    <div class="crown">
                                        <img src="../../../../assets/imgsss/crown.svg" alt="">
                                      </div>
                              </div>
                            </div>
                          </div>
                            <span class="btn backward_show_list">
                                <div style="right:50%;top:43% ;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/backward_show_list.svg">
                                </div>
                            </span>
                            <span class="btn forward_show_list">
                                <div style="left:50%;top:43%;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/forward_show_list.svg">
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="comingSoon">
                        <p>Coming Soon</p>
                        <div #home_paginated_gallery class="gallery-soon">
                          <div class="gallery_scroller">
                            <div *ngIf="comedySeriesLength <= 0" style="display: inherit;">
                              <div class="colored_card" *ngFor='let in of counter(10) ;let i = index'>
                                <ngx-skeleton-loader count="1" appearance="pulse" [theme]="{
                                  'border-radius': '5px',
                                  height: '100%',
                                  'background-color': '#323232',
                                  border: '1px solid #323232',
                                  'animation-duration': '2s'
                                }" > </ngx-skeleton-loader>
                              </div>
                            </div>
                            <div *ngIf="comedySeriesLength > 0">
                              <div class="colored_card" *ngFor="let posters of comedySeries">
                                  <Img src="{{posters.PosterUrl}}" (click)="getPageById(posters.Id)">
                                    <div class="crown">
                                        <img src="../../../../assets/imgsss/crown.svg" alt="">
                                      </div>
                              </div>
                            </div>
                          </div>
                            <span class="btn backward_show_list">
                                <div style="right:50%;top:43% ;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/backward_show_list.svg">
                                </div>
                            </span>
                            <span class="btn forward_show_list">
                                <div style="left:50%;top:43%;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/forward_show_list.svg">
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="drama">
                        <p>Drama Series</p>
                        <div #home_paginated_gallery class="gallery">
                          <div class="gallery_scroller">
                            <div *ngIf="dramaSeriesLength <= 0" style="display: inherit;">
                              <div class="colored_card" *ngFor='let in of counter(10) ;let i = index'>
                                <ngx-skeleton-loader count="1" appearance="pulse" [theme]="{
                                  'border-radius': '5px',
                                  height: '100%',
                                  'background-color': '#323232',
                                  border: '1px solid #323232',
                                  'animation-duration': '2s'
                                }" > </ngx-skeleton-loader>
                              </div>
                            </div>
                            <div *ngIf="dramaSeriesLength > 0">
                              <div class="colored_card" *ngFor="let posters of dramaSeries">
                                  <Img src="{{posters.PosterUrl}}" (click)="getPageById(posters.Id)">
                                    <div class="crown">
                                        <img src="../../../../assets/imgsss/crown.svg" alt="">
                                      </div>
                              </div>
                            </div>
                          </div>
                            <span class="btn backward_show_list">
                                <div style="right:50%;top:43% ;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/backward_show_list.svg">
                                </div>
                            </span>
                            <span class="btn forward_show_list">
                                <div style="left:50%;top:43%;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/forward_show_list.svg">
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="comedy">
                        <p>Comedy Series</p>
                        <div #home_paginated_gallery class="gallery">
                          <div class="gallery_scroller">
                            <div *ngIf="comedySeriesLength <= 0" style="display: inherit;">
                              <div class="colored_card" *ngFor='let in of counter(10) ;let i = index'>
                                <ngx-skeleton-loader count="1" appearance="pulse" [theme]="{
                                  'border-radius': '5px',
                                  height: '100%',
                                  'background-color': '#323232',
                                  border: '1px solid #323232',
                                  'animation-duration': '2s'
                                }" > </ngx-skeleton-loader>
                              </div>
                            </div>
                            <div *ngIf="comedySeriesLength > 0">
                              <div class="colored_card" *ngFor="let posters of comedySeries">
                                  <Img src="{{posters.PosterUrl}}" (click)="getPageById(posters.Id)">
                                    <div class="crown">
                                        <img src="../../../../assets/imgsss/crown.svg" alt="">
                                      </div>
                              </div>
                            </div>
                          </div>
                            <span class="btn backward_show_list">
                                <div style="right:50%;top:43% ;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/backward_show_list.svg">
                                </div>
                            </span>
                            <span class="btn forward_show_list">
                                <div style="left:50%;top:43%;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/forward_show_list.svg">
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="thriller">
                        <p>Thriller Series</p>
                        <div #home_paginated_gallery class="gallery">
                          <div class="gallery_scroller">
                            <div *ngIf="thrillerSeriesLength <= 0" style="display: inherit;">
                              <div class="colored_card" *ngFor='let in of counter(10) ;let i = index'>
                                <ngx-skeleton-loader count="1" appearance="pulse" [theme]="{
                                  'border-radius': '5px',
                                  height: '100%',
                                  'background-color': '#323232',
                                  border: '1px solid #323232',
                                  'animation-duration': '2s'
                                }" > </ngx-skeleton-loader>
                              </div>
                            </div>
                            <div *ngIf="thrillerSeriesLength > 0">
                              <div class="colored_card" *ngFor="let posters of thrillerSeries">
                                  <Img src="{{posters.PosterUrl}}" (click)="getPageById(posters.Id)">
                                    <div class="crown">
                                        <img src="../../../../assets/imgsss/crown.svg" alt="">
                                      </div>
                              </div>
                            </div>
                          </div>
                            <span class="btn backward_show_list">
                                <div style="right:50%;top:43% ;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/backward_show_list.svg">
                                </div>
                            </span>
                            <span class="btn forward_show_list">
                                <div style="left:50%;top:43%;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/forward_show_list.svg">
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="genres">
                        <p>Genres</p>
                        <div #home_paginated_gallery class="gallery-gen">
                            <div class="gallery_scroller">
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a2.png">
                                    <span>Action & <br> Adventure</span>
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a8.png">
                                    <span> Kids</span>
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a6.png">
                                    <span>Biopic</span>
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a4.png">
                                    <span>Romance</span>
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a8.png">
                                    <span>Comedy</span>
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a11.png">
                                    <span>Drama</span>
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a10.png">
                                    <span>Family</span>
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a9.png">
                                    <span>Horror</span>
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a8.png">
                                    <span>Horror</span>
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a7.png">
                                    <span>Horror</span>
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a6.png">
                                    <span>Horror</span>
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a5.png">
                                    <span></span>
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a4.png">
                                    <span>Horror</span>
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a3.png">
                                    <span>Horror</span>
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a2.png">
                                    <span>Horror</span>
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a1.png">
                                    <span>Horror</span>
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a9.png">
                                    <span>Horror</span>
                                </div>
                                <div class="colored_card">
                                    <Img src="./../../../../assets/imgsss/a10.png">
                                    <span>Horror</span>
                                </div>
                            </div>
                            <span class="btn backward_show_list">
                                <div style="right:50%;top:43% ;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/backward_show_list.svg">
                                </div>
                            </span>
                            <span class="btn forward_show_list">
                                <div style="left:50%;top:43%;position: absolute; background: transparent;">
                                    <Img src="./../../../../assets/imgsss/forward_show_list.svg">
                                </div>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script>
        const numOfGalleries = 21;
        for (let i = 1; i <= numOfGalleries; i++) {
            if(document.querySelector('#paginated_gallery' + i)){
                gallery=document.querySelector('#paginated_gallery' + i)
                event(gallery);
            }

        }


        function event(gallery) {
            const gallery_scroller = gallery.querySelector('.gallery_scroller');
            const gallery_item_size = gallery_scroller.querySelector('div').clientWidth;

            gallery.querySelector('.forward_show_list').addEventListener('click', scrollToNextPage);
            gallery.querySelector('.forward_show_list').addEventListener('click', scrollToNextPage);
            gallery.querySelector('.backward_show_list').addEventListener('click', scrollToPrevPage);

            // For paginated scrolling, simply scroll the gallery one item in the given
            // direction and let css scroll snaping handle the specific alignment.
            function scrollToNextPage() {
                gallery_scroller.scrollBy(gallery_item_size, 0);
            }
            function scrollToPrevPage() {
                gallery_scroller.scrollBy(-gallery_item_size, 0);
            }
        }
    </script>
