<div class="allPage">
    <div class="popupBox">
        <div class="allDetails">
        <div class="heading">
            Personal Details
        </div>
        <input type="text" placeholder="Full Name">
        <input type="email" placeholder="Email Address">
        <input type="number" placeholder="Phon Number">
        <div class="continue">
            <p>Continue</p>
            <img src="../../../../assets/imgsss/onBoarding/arrow.svg" alt="">
        </div>
    </div>
    <div class="image">
            <img src="../../../../assets/imgsss/Group 125.svg" alt="">
    </div>
</div>