<div class="hightdiv" style="height: 72px; background-color: transparent;"></div>
<div class="container">
    <div class="aboutUs">
        <span>About Us</span>
        <div class="contentDivs">
            <div class="termText">
                <p> Video Village is an on-demand video streaming platform, owned by Video Village Pvt. Ltd.</p>
                <p> Our extensive content library includes movies, web series, and shorts across the languages and
                    genre. We bring International content to local audience. The content will be added regularly in
                    your own language and your favourite star movies and much more.</p>
                <p>Available on devices, including Mobile, Tablet, Web, Smart TV, and Streaming Devices, now
                    discover and watch Video Village whenever you need. Download and watch your favourite content
                    offline at your convenience.</p>
            </div>
            <div class="image">
                <img src="../../../../assets/imgsss/logo/newlogo.png" alt="">
            </div>
        </div>
    </div>
</div>