<div class="container">
    <div class="termsAnd">
        <span>Terms and Privacy Notice</span>
        <div class="contentDivs">
            <div class="termText">
                <p>This Privacy Policy explains our practices with regard to the collection, handling, storing,
                    disclosing and otherwise using certain information that we collect from you, including personal
                    information.</p>
                <p>This information is obtained by Video Village Pvt. Ltd., its group companies and affiliates
                    (“Video
                    Village”) in relation to our services offered on our Mobile App “Video Village” and the website:
                    www.VideoVillage.video.</p>
                <p> This Privacy Policy is concerned with information relating to Video Village’s services, and
                    therefore, should be read along with the “Terms of Use” available. The Terms of Use is the
                    contract
                    that allows you to access the services and content of your choice from us.</p>
                <p> By accessing and/or using the services that we offer, you accept the terms of this Privacy
                    Policy.
                    If you do not agree with any or all of the contents of this Privacy Policy, please do not access
                    and/or use the services. To clarify, users who subscribe to Video Village’s services must attain
                    the
                    age of majority in their respective jurisdiction. Individuals who are under the relevant age of
                    majority may utilize the services only under the supervision and approval of their parents
                    and/or
                    legal guardian.</p>
                <p>We request you to review the Privacy Policy from time-to-time. If you continue to use the
                    Services
                    after any Privacy Policy amendments, we will reasonably infer this as your acceptance of such
                    revised Privacy Policy. Further, Video Village retains the right at any time to deny or suspend
                    access to all, or any part of, the service to anyone who Video Village reasonably believes has
                    violated any provision of this Privacy Policy.</p>
            </div>
            <div class="image">
                <img src="../../../../assets/imgsss/terms 1.svg" alt="">
            </div>
        </div>
    </div>
</div>