<div class="pcpLogin">
    <div class="pcpImg">
        <img src="../../../../assets/imgsss/admin/Background Image3@2x.png" alt="login">
    </div>
    <div class="pcpDetails">
        <div class="vvlogo">
            <img src="../../../../assets/imgsss/admin/VV LOGO_Vr4.png" alt="">
        </div>
        <div class="pcpHeading">
            Studio Control Panel
        </div>
        <div class="pcpInputs">
            <div class="email">
                <input class="inputEmail" type="email" placeholder="Enter Email">
                <img src="../../../../assets/imgsss/admin/user.svg" alt="">
            </div>
            <div class="pass">
                <input class="inputPassword" type="password" placeholder="Enter Password">
                <img src="../../../../assets/imgsss/admin/lock icon.svg" alt="">
            </div>
        </div>
        <div class="pcpForgotPass">
            Forgot Password?
        </div>
        <div class="pcpBttn">
            Sign in
        </div>
        <div class="-new-">
            <hr class="white50">
            <p class="text">New to Video Village?</p>
            <hr class="white50">
        </div>
        <div class="pcpBttn">
            Create Account
        </div>
    </div>
</div>