<div class="pcpLogin">
    <div class="pcpImg">
        <img src="../../../../assets/imgsss/admin/background image2@2x.png" alt="login">
    </div>
    <div class="pcpDetails">
        <div class="vvlogo">
            <img src="../../../../assets/imgsss/admin/VV LOGO_Vr4.png" alt="">
        </div>
        <div class="pcpHeading">
            Studio Control Panel
        </div>
        <div class="goldText">
            Create account
        </div>
        <div class="pcpInputs">
            <div class="busibess">
                <p class="inputText">Business Name</p>
                <input type="text">
            </div>
            <div class="email">
                <p class="inputText">Email</p>
                <input class="inputEmail" type="email">
            </div>
            <div class="pass">
                <p class="inputText">Password</p>
                <input class="inputPassword" type="password" placeholder="At least 8 characters">
            </div>
            <div class="rePass">
                <p class="inputText">Re-enter password</p>
                <input class="inputPassword" type="password">
            </div>
        </div>
        <div class="pcpBttn">
            Create Account
        </div>
        <div class="arLogIn">
            Already have an account? <a href="**">Sign in</a>
        </div>
    </div>
</div>