<div class="allPage">
    <!-- gat started & sign In -->
    <div class="popupBox1">

        <!-- ***** Details Part ***** -->
        <div class="allDetails">

            <!-- //// top sign In or Get Started -->
            <!-- <div class="signInNstarted">
                <div class="getStarted">Get Started</div>
                <div class="signIn">Sign In</div>
            </div> -->


            <!--///// First View //////-->
            <!-- <div class="firstView">
                <div class="usingVia">
                    <div class="viaEmail viaBtn">
                        <p>Using via Email Address</p>
                        <img src="../../../../assets/imgsss/onBoarding/arrow.svg" alt="">
                    </div>
                    <div class="viaNumber viaBtn">
                        <p>Using via Phone Number</p>
                        <img src="../../../../assets/imgsss/onBoarding/arrow.svg" alt="">

                    </div>
                </div>
                <div class="or">
                    <hr class="white50">
                    <p class="or-text">or</p>
                    <hr class="white50">
                </div>
                <div class="signInWith">
                    <button class="facebookClass">
                        <img src="../../../../assets/imgsss/facebook.svg" alt=""></button>
                    <button class="googleClass">
                        <img src="../../../../assets/imgsss/Vector.svg" alt=""></button>
                </div>
            </div> -->


            <!--///// Second View via email //////-->
            <!-- <div class="secondView">
                <input type="email" placeholder="Email Address">
                <input type="password" placeholder="Password">


                <div class="rememberForgot">
                    <div class="remember">
                        <input type="checkbox" id="remember" name="remember" value="Boat">
                        <label for="remember">Remember Me</label>
                    </div>
                    <div class="forgetPass">
                        <p>Forget password</p>
                        <img src="../../../../assets/imgsss/help.svg" alt="">
                    </div>
                </div>

                <div class="contBtn">
                    <p>Continue</p>
                    <img src="../../../../assets/imgsss/onBoarding/arrow.svg" alt="">
                </div>

                <div class="createAcc">
                    <p>By signing up, you agree to Video Village’s &nbsp;
                        <a>Terms and Privacy Notice.</a>
                    </p>
                </div>

                <div class="createAcc">
                    <p>By continuing, you agree to Video Village’s &nbsp;
                        <a>Terms and Privacy Notice.</a>
                    </p>
                </div>
            </div> -->


            <!--///// third View via Phon numbar //////-->
            <!-- <div class="thirdView">
                <input  type="number" placeholder="Phone Number">
                
                <div class="contBtn">
                    <p>Continue</p>
                    <img src="../../../../assets/imgsss/onBoarding/arrow.svg" alt="">
                </div>

                
                 <div class="createAcc">
                    <p>By signing up, you agree to Video Village’s &nbsp;
                        <a>Terms and Privacy Notice.</a>
                    </p>
                </div>
                
                <div class="createAcc">
                    <p>By continuing, you agree to Video Village’s &nbsp;
                        <a>Terms and Privacy Notice.</a>
                    </p>
                </div>
            </div> -->


            <!-- ****** Mobile otp verify ****** -->
            <!-- <div class="otpVerifyNum">
                <div class="headingOtp">Verify phone number</div>
                <div class="createAcc" style="margin-bottom:1.3rem;">
                    <p>Please enter the 4 digit code sent to your phone number +91 9898899899&nbsp;
                        <a>(change)</a>
                    </p>
                </div>
                <input style="letter-spacing: 1px; text-align: center;"  type="number" placeholder="Enter OTP">
                <div class="contBtn">
                    <p>Continue</p>
                    <img src="../../../../assets/imgsss/onBoarding/arrow.svg" alt="">
                </div>
                <div class="createAcc" style="text-align: center;">
                    <p>Didn’t receive the OTP ?&nbsp;
                        <a>Resend</a>
                    </p>
                </div>
            </div> -->

            <!-- ****** Email otp verify ****** -->
            <div class="otpVerifyEmail">
                <div class="headingOtp">Verify email address</div>
                <div class="createAcc" style="margin-bottom:1.5rem;">
                    <p style="font-size: .95rem;">To verify your email address, we’ve sent a One Time Password (OTP) to
                        Arav3456@gmail.com&nbsp;
                        <a>(change)</a>
                    </p>
                </div>
                <input style="letter-spacing: 1px; text-align: center;" type="number" placeholder="Enter OTP">
                <div class="contBtn">
                    <p>Continue</p>
                    <img src="../../../../assets/imgsss/onBoarding/arrow.svg" alt="">
                </div>
            </div>

        </div>

        <!--***** imgg part *****-->
        <div class="imgNdetails">

            <!--///// for Get Started //////-->
            <!-- <div class="imgNdetailsSS">
                <img class="obj-fit" src="../../../../assets/imgsss/onBoarding/img1.svg" alt="Get Started">
                <div class="about">
                    <h2 class="heading">Welcome to Video Village</h2>
                    <p class="description">Premium unlimited TV shows, latest movie blockbusters, series and full on
                        entertainment,
                        is just a step away</p>
                </div>
            </div> -->


            <!--///// for Sign In /////-->
            <!-- <div class="imgNdetailsSS">
                <img class="obj-fit" src="../../../../assets/imgsss/onBoarding/img2.svg" alt="Sign In">
                <div class="about">
                    <h2 class="heading">By Signing In</h2>
                    <p class="description">You can have your own watchlist, and continue watching, and unlimited
                        entertainment.</p>
                </div>
            </div> -->

            <!--///// for number otp verify /////-->
            <!-- <div class="imgNdetailsSS">
                <img class="obj-fit" src="../../../../assets/imgsss/onBoarding/img3.svg" alt="Sign In">
                <div class="about">
                    <h2 class="heading">Authenticate Yourself</h2>
                    <p class="description">You need to check and enter the OTP sent to your mobile number for
                        verification purpose.</p>
                </div>
            </div> -->

            <!--///// for number otp verify /////-->
            <div class="imgNdetailsSS">
                <img class="obj-fit" src="../../../../assets/imgsss/onBoarding/img4.svg" alt="Sign In">
                <div class="about">
                    <h2 class="heading">Authentication Required</h2>
                    <p class="description">You need to check and enter the OTP sent to your email address for
                        verification purpose.</p>
                </div>
            </div>
        </div>
    </div>
</div>