<div class="container">
    <div class="homeAnonymous">
        <div class="contentDivs">
            <div class="topCarousel">
                <div class="slides">
                    <input type="radio" name="r" id="r1" checked>
                    <input type="radio" name="r" id="r2">
                    <input type="radio" name="r" id="r3">
                    <input type="radio" name="r" id="r4">
                    <input type="radio" name="r" id="r5">
                    <input type="radio" name="r" id="r6">
                    <input type="radio" name="r" id="r7">
                    <!-- <input type="radio" name="r" id="r8">
                        <input type="radio" name="r" id="r9">
                        <input type="radio" name="r" id="r10">
                         -->

                    <div class="slide s1" id="one">
                        <img src="../../../../assets/imgsss/img 007.jpg" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../../../assets/imgsss/0010.jpg" id="two" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../../../assets/imgsss/0010.jpg" id="three" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../../../assets/imgsss/008.jpg" id="four" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../../../assets/imgsss/img 007.jpg" id="five" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../../../assets/imgsss/008.jpg" id="six" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../../../assets/imgsss/img 007.jpg" id="seven" alt="">
                    </div>


                </div>
                <div class="navugation">
                    <label for="r1" class="selector"></label>
                    <label for="r2" class="selector"></label>
                    <label for="r3" class="selector"></label>
                    <label for="r4" class="selector"></label>
                    <label for="r5" class="selector"></label>
                    <label for="r6" class="selector"></label>
                    <label for="r7" class="selector"></label>

                </div>
            </div>
            <div class="allContent">
                <div class="continue">
                    <p>Continue Watching</p>
                    <div #home_paginated_gallery class="gallery">
                        <div class="gallery_scroller">
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a2.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a8.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a6.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a4.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a8.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a11.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a10.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a9.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a8.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a7.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a6.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a5.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a4.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a3.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a2.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a1.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a9.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a10.png">
                            </div>
                        </div>
                        <span class="btn backward_show_list">
                            <div style="right:50%;top:43% ;position: absolute; background: transparent;">
                                <Img src="./../../../../assets/imgsss/backward_show_list.svg">
                            </div>
                        </span>
                        <span class="btn forward_show_list">
                            <div style="left:50%;top:43%;position: absolute; background: transparent;">
                                <Img src="./../../../../assets/imgsss/forward_show_list.svg">
                            </div>
                        </span>
                    </div>
                </div>
                <div class="shorts">
                    <p>Shorts</p>
                    <div #home_paginated_gallery class="gallery">
                        <div class="gallery_scroller">
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a2.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a8.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a6.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a4.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a8.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a11.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a10.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a9.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a8.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a7.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a6.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a5.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a4.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a3.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a2.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a1.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a9.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a10.png">
                            </div>
                        </div>
                        <span class="btn backward_show_list">
                            <div style="right:50%;top:43% ;position: absolute; background: transparent;">
                                <Img src="./../../../../assets/imgsss/backward_show_list.svg">
                            </div>
                        </span>
                        <span class="btn forward_show_list">
                            <div style="left:50%;top:43%;position: absolute; background: transparent;">
                                <Img src="./../../../../assets/imgsss/forward_show_list.svg">
                            </div>
                        </span>
                    </div>

                </div>
                <div class="documentries">
                    <p>Documentries</p>
                    <div #home_paginated_gallery class="gallery">
                        <div class="gallery_scroller">
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/s1.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/s2.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/s3.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/s4.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/s5.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/s2.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/s1.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/s4.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/s5.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/s2.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/s4.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/s1.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/s2.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/s3.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/s4.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/s5.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/s1.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/s2.png">
                            </div>
                        </div>
                        <span class="btn backward_show_list">
                            <div style="right:50%;top:43% ;position: absolute; background: transparent;">
                                <Img src="./../../../../assets/imgsss/backward_show_list.svg">
                            </div>
                        </span>
                        <span class="btn forward_show_list">
                            <div style="left:50%;top:43%;position: absolute; background: transparent;">
                                <Img src="./../../../../assets/imgsss/forward_show_list.svg">
                            </div>
                        </span>
                    </div>
                </div>
                <div class="food">
                    <p>Food</p>
                    <div #home_paginated_gallery class="gallery">
                        <div class="gallery_scroller">
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a2.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a8.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a6.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a4.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a8.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a11.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a10.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a9.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a8.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a7.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a6.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a5.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a4.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a3.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a2.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a1.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a9.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a10.png">
                            </div>
                        </div>
                        <span class="btn backward_show_list">
                            <div style="right:50%;top:43% ;position: absolute; background: transparent;">
                                <Img src="./../../../../assets/imgsss/backward_show_list.svg">
                            </div>
                        </span>
                        <span class="btn forward_show_list">
                            <div style="left:50%;top:43%;position: absolute; background: transparent;">
                                <Img src="./../../../../assets/imgsss/forward_show_list.svg">
                            </div>
                        </span>
                    </div>

                </div>
                <div class="travel">
                    <p>Travel</p>
                    <div #home_paginated_gallery class="gallery">
                        <div class="gallery_scroller">
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a2.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a8.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a6.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a4.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a8.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a11.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a10.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a9.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a8.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a7.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a6.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a5.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a4.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a3.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a2.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a1.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a9.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a10.png">
                            </div>
                        </div>
                        <span class="btn backward_show_list">
                            <div style="right:50%;top:43% ;position: absolute; background: transparent;">
                                <Img src="./../../../../assets/imgsss/backward_show_list.svg">
                            </div>
                        </span>
                        <span class="btn forward_show_list">
                            <div style="left:50%;top:43%;position: absolute; background: transparent;">
                                <Img src="./../../../../assets/imgsss/forward_show_list.svg">
                            </div>
                        </span>
                    </div>
                </div>
                <div class="animation">
                    <p>Animation</p>
                    <div #home_paginated_gallery class="gallery">
                        <div class="gallery_scroller">
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a2.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a8.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a6.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a4.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a8.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a11.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a10.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a9.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a8.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a7.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a6.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a5.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a4.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a3.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a2.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a1.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a9.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a10.png">
                            </div>
                        </div>
                        <span class="btn backward_show_list">
                            <div style="right:50%;top:43% ;position: absolute; background: transparent;">
                                <Img src="./../../../../assets/imgsss/backward_show_list.svg">
                            </div>
                        </span>
                        <span class="btn forward_show_list">
                            <div style="left:50%;top:43%;position: absolute; background: transparent;">
                                <Img src="./../../../../assets/imgsss/forward_show_list.svg">
                            </div>
                        </span>
                    </div>
                </div>
                <div class="others">
                    <p>Others</p>
                    <div #home_paginated_gallery class="gallery">
                        <div class="gallery_scroller">
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a2.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a8.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a6.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a4.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a8.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a11.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a10.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a9.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a8.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a7.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a6.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a5.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a4.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a3.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a2.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a1.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a9.png">
                            </div>
                            <div class="colored_card">
                                <Img src="./../../../../assets/imgsss/a10.png">
                            </div>
                        </div>
                        <span class="btn backward_show_list">
                            <div style="right:50%;top:43% ;position: absolute; background: transparent;">
                                <Img src="./../../../../assets/imgsss/backward_show_list.svg">
                            </div>
                        </span>
                        <span class="btn forward_show_list">
                            <div style="left:50%;top:43%;position: absolute; background: transparent;">
                                <Img src="./../../../../assets/imgsss/forward_show_list.svg">
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const numOfGalleries = 14;
    for (let i = 1; i <= numOfGalleries; i++) {
        if (document.querySelector('#paginated_gallery' + i)) {
            gallery = document.querySelector('#paginated_gallery' + i)
            event(gallery);
        }

    }


    function event(gallery) {
        const gallery_scroller = gallery.querySelector('.gallery_scroller');
        const gallery_item_size = gallery_scroller.querySelector('div').clientWidth;

        gallery.querySelector('.forward_show_list').addEventListener('click', scrollToNextPage);
        gallery.querySelector('.forward_show_list').addEventListener('click', scrollToNextPage);
        gallery.querySelector('.backward_show_list').addEventListener('click', scrollToPrevPage);

        // For paginated scrolling, simply scroll the gallery one item in the given
        // direction and let css scroll snaping handle the specific alignment.
        function scrollToNextPage() {
            gallery_scroller.scrollBy(gallery_item_size, 0);
        }
        function scrollToPrevPage() {
            gallery_scroller.scrollBy(-gallery_item_size, 0);
        }
    }  
</script>