.header {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 4.5rem;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;

    .item-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 2vw;

        .logo {
            height: 72px;
            overflow: hidden;
        }

        .nav-menue {
            display: flex;
            flex-direction: row;
            margin-left: 5px;
            margin-right: 20px;

            a {
                font-size: 1rem;
                line-height: 1.4rem;
                color: #FFFFFF;
                letter-spacing: 1px;
                margin-right: 1.25rem;
                text-decoration: none;
                margin-bottom: 2px;
                

                &:hover{
                    border-bottom: 2px solid #C4C4C4;
                    margin-bottom: 0;

                }
            }
        }
    }

    .nav-user-item-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 4vw;

        .search {
            width: 298px;
            height: 34px;
            position: relative;
            margin-right: 1.2rem;

            input {
                width: 298px;
                height: 34px;
                background: rgba(196, 196, 196, 0.27);
                border: 0.5px solid rgba(196, 196, 196, 0.27);
                box-sizing: border-box;
                border-radius: 20px;
                outline: none;
                padding: 10px 40px 10px 20px;
                color: #FFFFFF;
                letter-spacing: 1px;
            }

            img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 5%;
                cursor: pointer;
            }
        }

        .selectLanguage {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 16px;

            img {
                width: 27px;
                height: 27px;
                margin-right: 5px;
            }

            select {
                border: none;
                outline: none;
                background: transparent;
                color: #FFFFFF;
                font-weight: 300;
                font-size: 1rem;
                line-height: 1.4rem;
                text-decoration: none;
                text-align: center;
                border: 0;
                -moz-appearance: none;
                display: inline;
                cursor: pointer;
                


                option {
                    background: rgb(61, 61, 61);
                    font-weight: 300;
                    font-size: 1rem;

                    cursor: pointer;
                }
            }

        }

        .user-signIn {
            display: flex;
            flex-direction: row;
            align-items: center;

            .signIn {
                font-size: 1rem;
                line-height: 1.5rem;
                color: #FFFFFF;
                font-weight: bold;
                margin-left: 5px;

            }

            .user-image {
                height: 2rem;
                width: 2rem;
                border-radius: 50%;
                margin-left: 5px;

                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

}


@media(max-width:1070px) {
    .header {

        .nav-user-item-right {
            .search {
                position: fixed;
                top: 80px;
                right: 20px;
            }
        }
    }
}


@media(max-width:800px) {
    .header {

        .item-left {
            .nav-menue {
                max-width: 200px;
                overflow-x: scroll;

                a{
                    line-height: 2rem;
                }

                &::-webkit-scrollbar {
                    height: 5px;
                    background: rgb(63, 55, 55);
                }

                &::-webkit-scrollbar-thumb {
                    background: #0F79AF;
                    border-radius: 10px;
                }


            }
        }
    }
}

@media(max-width:540px) {
    .header {
        .item-left {
            .logo {
                width: 90px;
                margin-top: 30px;

                img {
                    width: 100%;
                }
            }

            .nav-menue {
                max-width: 160px;
            }
        }

        .nav-user-item-right {
            .search {
                margin-right: 10px;
                width: 280px;
                position: fixed;
                top: 80px;
                left: 50%;
                transform: translateX(-50%);

            }

            .selectLanguage {
                display: none;
            }

            .user-signIn {
                margin-top: 10px;
            }
        }
    }
}