<div class="container">
    <div class="subs">
        <div class="contentDivs">
            <div class="logoNForm">
                <div class="formContainer">
                    <p>Welcome to Video Village</p>
                    <p class="description">Be a Video Village member to enjoy latest movies, series and TV shows online
                        from ANYWHERE, ANYTIME.</p>
                    <p class="blue">Please select plan</p>
                </div>
                <div class="feee">
                    <div class="row1">
                        <div class="planBox one">
                            <p class="title">Dhrishyam</p>
                            <hr>
                            <div class="amount">
                                <div class="amount1">
                                    <img src="../../../../assets/imgsss/rupee.svg" alt="">
                                    <p>75</p>
                                    <hr>
                                </div>
                                <div class="amount1">
                                    <img src="../../../../assets/imgsss/rupee.svg" alt="">
                                    <p>99</p>
                                </div>
                            </div>
                            <p class="des">1 month with unlimited movies, TV shows</p>
                        </div>
                        <div class="planBox two">
                            <p class="title">Dangal</p>
                            <hr>
                            <div class="amount">
                                <div class="amount1">
                                    <img src="../../../../assets/imgsss/rupee.svg" alt="">
                                    <p>200</p>
                                    <hr>
                                </div>
                                <div class="amount1">
                                    <img src="../../../../assets/imgsss/rupee.svg" alt="">
                                    <p>139</p>
                                </div>
                            </div>
                            <p class="des">3 months with unlimited movies, TV shows</p>
                        </div>
                        <div class="planBox three">
                            <p class="title">Baahubaali</p>
                            <hr>
                            <div class="amount">
                                <div class="amount1">
                                    <img src="../../../../assets/imgsss/rupee.svg" alt="">
                                    <p>750</p>
                                    <hr>
                                </div>
                                <div class="amount1">
                                    <img src="../../../../assets/imgsss/rupee.svg" alt="">
                                    <p>499</p>
                                </div>
                            </div>
                            <p class="des">1 year with unlimited entertainment</p>

                        </div>
                    </div>
                    <button class="buttonOne">
                        skip to return home
                    </button>
                    <hr>
                    <div class="row1">
                        <div class="col1">
                            <img src="../../../../assets/imgsss/video (2) 1.svg" alt="">
                            <p class="imgP">Monthly Originals</p>
                        </div>
                        <div class="col1">
                            <img src="../../../../assets/imgsss/download 1.svg" alt="">
                            <p class="imgP">Watch Offline</p>
                        </div>
                        <div class="col1">
                            <img src="../../../../assets/imgsss/tablet 1.svg" alt="">
                            <p class="imgP">Multiple Devices</p>
                        </div>
                    </div>
                </div>


                <div class="signInWith">

                </div>

            </div>
            <div class="outerdiv">
                <div class="mainImg">
                    <div class="all-img">
                        <img src="../../../../assets/imgsss/all1.png" alt="">
                        <img src="../../../../assets/imgsss/all2.png" alt="">
                        <img src="../../../../assets/imgsss/all3.png" alt="">
                        <img src="../../../../assets/imgsss/all4.png" alt="">
                        <img src="../../../../assets/imgsss/all5.png" alt="">
                        <img src="../../../../assets/imgsss/all6.png" alt="">
                        <img src="../../../../assets/imgsss/all7.png" alt="">
                        <img src="../../../../assets/imgsss/all8.png" alt="">
                        <img src="../../../../assets/imgsss/all7.png" alt="">
                        <img src="../../../../assets/imgsss/all8.png" alt="">
                        <img src="../../../../assets/imgsss/all1.png" alt="">
                        <img src="../../../../assets/imgsss/all2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>