<div class="hightdiv" style="height: 72px; background-color: transparent;"></div>
<div class="container">
    <div class="contactUs">
        <span>Contact Us</span>
        <div class="contentDivs">
            <div class="termText">
                <p>We have a customer support team that will address your grievances through email, chat and voice
                    call. For queries to be addressed through email, users can reach out to
                    <a href="support@VideoVillage.video"> support@VideoVillage.video</a></p>
                <br>
                <p>or you can write us: <br><br> 57, 7th Cross Road,<br> Giringar Housing Colony,<br> Giri Nagar
                    Housing <br> Society,<br> KV
                    Nagar,<br> Panampilly Nagar,<br> Ernakulam,<br> Kerala 682036</p>

            </div>
            <div class="image">
                <img src="../../../../assets/imgsss/Contact us pic.svg" sizes="(max-width: 600px) 480px,
                         800px" alt="">
            </div>
        </div>
    </div>
</div>