<div class="container">
  <div class="homeAnonymous">
    <div class="contentDivs">
      <div class="topPic" *ngIf="playing">
        <vg-player vg-theme="controller.config.theme.url" (onPlayerReady)="onPlayerReady($event)">
          <vg-controls vgFor="singleVideo" [vgAutohide]="true">
            <vg-play-pause></vg-play-pause>
            <!-- <vg-playback-button vgFor="singleVideo" [playbackValues]="[ '1.0', '2.0', '4.0' ]"></vg-playback-button> -->

            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

            <!-- <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar> -->
            <vg-scrub-bar>
              <vg-scrub-bar-current-time style="background: grey;"></vg-scrub-bar-current-time>
            </vg-scrub-bar>

            <vg-time-display vgProperty="left" vgFormat="hh:mm:ss"></vg-time-display>
            <!-- <vg-time-display vgProperty="total" vgFormat="hh:mm:ss"></vg-time-display> -->

            <vg-track-selector></vg-track-selector>
            <vg-mute></vg-mute>
            <vg-volume></vg-volume>

            <vg-fullscreen></vg-fullscreen>
          </vg-controls>
          <vg-overlay-play vgFor="singleVideo"></vg-overlay-play>
          <vg-buffering vgFor="singleVideo"></vg-buffering>
          <!-- <video [vgMedia]="media" #media id="singleVideo" preload="auto" >
                          <source src="{{movieDetails.accessUrls.hls_High}}" type="video/mp4">
                      </video> -->
          <video #media #vgHls="vgHls" [vgMedia]="media"   preload="auto" [vgHls]="movie.AccessUrls.Hls_High"
            id="singleVideo" autoplay="true" crossorigin>
              <!-- <ng-template *ngFor="let subs of movie.Subtitle">
              <track kind="subtitles"  label="{{subs.LanguageName}}" src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt"
              srclang="en">
            </ng-template> -->
              <track kind="subtitles" label="English" *ngIf="movie.Subtitle[0]" [src]="movie.Subtitle[0].Url"
              srclang="en">
          </video>
        </vg-player>
      </div>
      <div class="topPic" *ngIf="!movie">
        <ngx-skeleton-loader count="1" style="width:100%;" appearance="pulse" [theme]="{
          'border-radius': '5px',
          height: '100%',
          width: '100%',
          'background-color': '#323232',
          border: '1px solid #323232',
          'animation-duration': '2s'
        }" > </ngx-skeleton-loader>
      </div>
      <div class="topPic play-video" *ngIf="!playing && movie">
        <div class="epi">
          <div class="topLine">
            <p class="title">{{movie.Title}}</p>
          </div>

          <div class="shortDetails">
            <p class="extraDetails">{{movie.YearOfProduction}}</p>
            <!-- <p class="extraDetails">IMDB</p>
                        <p class="extraDetails">8.1</p> -->
            <p class="extraDetailsBorder">{{movie.AgeRestriction}}+</p>
            <p class="extraDetails">2 hr 25 min</p>
          </div>

          <div class="about">
            <p>{{movie.Description}}</p>
          </div>

          <div class="activity">
            <img src="../../../../assets/imgsss/Play Button.svg" alt="" (click)="playMovie()">
            <p>Play Now</p>
            <!-- <div class="blue-box">
                            <img src="../../../../assets/imgsss/+1.svg" alt="">
                            <span>Watchlist</span>
                        </div> -->
            <div class="blue-box" (click)="trailerPlayFunc()">
              <img src="../../../../assets/imgsss/+1.svg" alt="">
              <span>Trailer</span>
            </div>
            <!-- <div class="blue-box">
                            <img src="../../../../assets/imgsss/download 2.svg" alt="">
                            <span>Download</span>
                        </div> -->
            <div class="blue-box">
              <img src="../../../../assets/imgsss/share 2.svg" alt="">
              <span>Share</span>
            </div>
          </div>

          <div class="detailsOfEpi">
            <div class="topicNDesc">
              <p class="topic">Starring</p>
              <span *ngIf="actLength > 0; else elseActor" style="display: inherit;">
                <div class="for-col">
                  <p class="desc" *ngFor="let cast of actor">{{cast}}, </p>
                </div>
              </span>
              <ng-template #elseActor>
                <p class="desc">No info</p>
              </ng-template>
            </div>
            <div class="topicNDesc">
              <p class="topic">Genres</p>
              <div class="for-col">
                <p class="desc" *ngFor="let genre of movie.CategoryInfo">{{genre.Name}},</p>
              </div>
            </div>
            <!-- <div class="topicNDesc">
                            <p class="topic">Subtitles</p>
                            <p class="desc">English, Hindi</p>
                        </div> -->
            <div class="topicNDesc">
              <p class="topic">Audio Languages</p>
              <div class="for-col">
                <p class="desc">{{movie.LanguageName}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="mainImg">
          <!-- <img [src]="movie.Poster.Url" alt="" *ngIf="trailerPlay == true"> -->
          <vg-player vg-theme="controller.config.theme.url"
            (onPlayerReady)="onPlayerTrailerReady($event)">
            <vg-buffering vgFor="singleVideo"></vg-buffering>
            <video #media #vgHls="vgHls" [vgMedia]="media" preload="auto" [vgHls]="movie.Trailer?.Url?.Hls_High"
              id="singleVideo" [autoplay]="true" [poster]="movie.Poster.Url" crossorigin>
            </video>
          </vg-player>
        </div>
        <div class="selectIt3">
          <div class="selectIt" (click)="switchTabs('details')">
            <p>Details</p>
            <hr *ngIf="tab=='details'"
              style="width:100%;border-color:#0F79AF; align-items: center;margin-block-start: 0;">
            <hr *ngIf="tab=='moreLikeThis'" style="width:100%; border-color: transparent;margin-block-start: 0;">
          </div>
          <div class="selectIt" (click)="switchTabs('moreLikeThis')">
            <p>More Like This</p>
            <hr *ngIf="tab=='moreLikeThis'" style="width:100%;border-color:#0F79AF; margin-block-start: 0;">
            <hr *ngIf="tab=='details'" style="width:100%;border-color: transparent;margin-block-start: 0;">
          </div>
        </div>
      </div>

      <div class="fullDetails" *ngIf="tab=='details' && movie">
        <div class="heading">
          More Details
        </div>
        <div class="topicNDesc">
          <p class="topic">Directed by</p>
          <span *ngIf="dirLength > 0; else elseDirector" style="display: inherit;">
            <p class="desc" *ngFor="let cast of director"><span>{{cast}}</span></p>
          </span>
          <ng-template #elseDirector>
            <p class="desc">No info</p>
          </ng-template>
        </div>
        <div class="topicNDesc">
          <p class="topic">Producers</p>
          <span *ngIf="prodLength > 0; else elseProducer" style="display: inherit;">
            <p class="desc" *ngFor="let cast of producer">{{cast}}</p>
          </span>
          <ng-template #elseProducer>
            <p class="desc">No Info</p>
          </ng-template>
        </div>
        <div class="topicNDesc">
          <p class="topic">Studio</p>
          <p class="desc">{{movie.Studio}}</p>
        </div>
        <div class="topicNDesc">
          <p class="topic">Country</p>
          <p class="desc">{{movie.Origin}}</p>
        </div>
      </div>

      <div class="moreLikeThis" *ngIf="tab=='moreLikeThis'">
        <div class="alike">
          <div #paginated_gallery1 class="gallery">
            <div class="gallery_scroller">
              <div *ngIf="morelikethisLength <= 0" style="display: inherit;">
                <div class="colored_card" *ngFor='let in of counter(10) ;let i = index'>
                  <ngx-skeleton-loader count="1" appearance="pulse" [theme]="{
                              'border-radius': '5px',
                              height: '100%',
                              'background-color': '#323232',
                              border: '1px solid #323232',
                              'animation-duration': '2s'
                            }"> </ngx-skeleton-loader>
                </div>
              </div>
              <div *ngIf="morelikethisLength > 0" style="display: inherit;">
                <div class="colored_card" *ngFor="let posters of morelikethis">
                  <Img src="{{posters.PosterUrl}}" (click)="getPageById(posters.Id)">
                </div>
              </div>
            </div>
            <span class="btn backward_show_list">
              <div style="right:50%;top:43% ;position: absolute; background: transparent;">
                <Img src="assets/imgsss/backward_show_list.svg">
              </div>
            </span>
            <span class="btn forward_show_list">
              <div style="left:50%;top:43%;position: absolute; background: transparent;">
                <Img src="assets/imgsss/forward_show_list.svg">
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
